<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flights</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <table class="table table-dark">
        <tr>
            <th width="25%">Departure Airport</th>
            <th width="25%">Arrival Airport</th>
            <th width="25%">Airline</th>
            <th width="10%">Flight Number</th>
            <th></th>
        </tr>
        <tr th:each="flight : ${flights}">
            <td th:text="${flight.departureAirport}"></td>
            <td th:text="${flight.arrivalAirport}"></td>
            <td th:text="${flight.airline}"></td>
            <td th:text="${flight.flightNumber}"></td>
            <td><a class="btn btn-dark" th:attr="onclick=|addData('${flight.departureAirport}',
                    '${flight.arrivalAirport}',
                    '${flight.airline}',
                    '${flight.flightNumber}')|"
                >Add Favorite</a>
            </td>
        </tr>
    </table>


</div>
<script th:inline="javascript">
	function addData(departureAirport, arrivalAirport, airline, flightNumber) {
		let request = new XMLHttpRequest();
		request.onreadystatechange = function() {
		    if (this.readyState == 4) {
		 		if (this.status == 201) {
		 			alert("Added.")
		 		} else {
		 			alert(`Error ${this.status}. Message: ${JSON.parse(this.response).message}`);
		 		}
		    }
		};
		request.open("POST", "/api/jpa/favorites/add/" + flightNumber, true);
		request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
		request.send(JSON.stringify({
		    "departureAirport": departureAirport,
		    "arrivalAirport": arrivalAirport,
		    "airline": airline,
		    "flightNumber": flightNumber
		}));
	}
</script>
</body>
</html>